{% extends "layouts/main.html" %}

{% block body %}
<div class="ps-products-wrap pt-80 pb-80">
    <div class="ps-products" data-mh="product-listing">
        <div class="ps-product-action">
            <div class="ps-product__filter">
                <select class="ps-select selectpicker" id="filter" onchange="handleChange(this, 3);">
                    <option value="1">Trier par</option>
                    <option value="2">Désignation ( ASC )</option>
                    <option value="3">Désignation ( DESC )</option>
                    <option value="4">Popularité ( ASC )</option>
                    <option value="5">Popularité ( DESC )</option>
                </select>
            </div>
        </div>
        <div id="columns" class="ps-product__columns">
        </div>
    </div>
    <div class="ps-sidebar" data-mh="product-listing">
        <aside class="ps-widget--sidebar ps-widget--category">
            <div class="ps-widget__header">
                <h3>Enfant</h3>
            </div>
            <div class="ps-widget__content">
                <ul class="ps-list--checked">
                    <li><input value="Tout" class="form-check-input" name="radioGenre" id="radioGenre" type="radio"
                            onchange="handleChange(this, 1);" checked> Tout</li>
                    <li><input value="Garçon" class="form-check-input" name="radioGenre" id="radioGenre" type="radio"
                            onchange="handleChange(this, 1);">
                        Garçon</li>
                    <li><input value="Fille" class="form-check-input" name="radioGenre" id="radioGenre" type="radio"
                            onchange="handleChange(this, 1);">
                        Fille</li>
                </ul>
            </div>
        </aside>
        <aside class="ps-widget--sidebar ps-widget--category">
            <div class="ps-widget__header">
                <h3>Age</h3>
            </div>
            <div class="ps-widget__content">
                <ul class="ps-list--checked">
                    <li><input value="Tout" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);" checked>
                        Tout</li>
                    <li><input value="1" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);">
                        1 mois</li>
                    <li><input value="3" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);">
                        3 mois</li>
                    <li><input value="6" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);">
                        6 mois</li>
                    <li><input value="9" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);">
                        9 mois</li>
                    <li><input value="12" class="form-check-input" name="radioAge" id="radioAge" type="radio"
                            onchange="handleChange(this, 2);">
                        12 mois</li>
                </ul>
            </div>
        </aside>
    </div>
</div>
<script>
    const columns = document.getElementById('columns');

    getCatalogue('Tout', 'Tout', 1);

    function handleChange(src, index) {

        if (index == 1) { // modifier genre
            const filter = document.getElementById('filter').value;
            const age = getChecked('input[name="radioAge"]');
            getCatalogue(src.value, age, filter);
        } else if (index == 2) { // modifier age
            const filter = document.getElementById('filter').value;
            const genre = getChecked('input[name="radioGenre"]');
            getCatalogue(genre, src.value, filter);
        } else if (index == 3) { // tri
            const genre = getChecked('input[name="radioGenre"]');
            const age = getChecked('input[name="radioAge"]');
            getCatalogue(genre, age, src.value);
        }

    }

    async function getCatalogue(genre, age, filter) {
        columns.innerHTML = '';

        const response = await fetch(
            `http://127.0.0.1:5000/catalogue/json?genre=${genre}&age=${age}&filter=${filter}`);
        const json = await response.json();

        json.forEach(produit => {

            if (produit.id != 0) {
                const textContent =
                    `
                <div class="ps-product__column">
                    <div class="ps-shoe mb-30">
                        <div class="ps-shoe__thumbnail">
                            <img src="/static/images/${ produit.image_big }" alt=""><a class="ps-shoe__overlay"
                                href="/catalogue/${ produit.id }/details"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__variants">
                                <div class="ps-shoe__variant normal">
                                    <img src="/static/images/${ produit.image_1 }" alt="">
                                    <img src="/static/images/${ produit.image_2 }" alt="">
                                    <img src="/static/images/${ produit.image_3 }" alt="">
                                    <img src="/static/images/${ produit.image_4 }" alt="">
                                </div>
                            </div>
                            <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">${ produit.designation }</a>
                                <p class="ps-shoe__categories">
                                    <span>${ produit.genre }</span>,
                                    <span>${ produit.age } Mois</span>
                                </p>
                                <span class="ps-shoe__price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                `;

                columns.innerHTML += textContent;
            } else {
                columns.innerHTML = "Aucun produit";
            }
        });

    }

    function getChecked(name) {
        const rbs = document.querySelectorAll(name);
        let selectedValue;
        for (const rb of rbs) {
            if (rb.checked) {
                selectedValue = rb.value;
                break;
            }
        }
        return selectedValue;
    }
</script>
{% endblock %}